# Caches
*.pyc
__pycache__/
.pytest_cache/

# Environment
prefect-env
dbt-env

logs
dbt/

.DS_store

# prefect artifacts - Need to review and remove if we need it on github
.prefectignore

*.json

*.yaml

# Credentials
bigquery-service-account.json
.env
